{% extends  'base.html' %}
{% block content %}

<div class="card-body">
    <div class="row g-0">
        <div>
            <div class="card-body">
                <h5 class="card-title">Add Review for : {{book.title}}</h5>
                {% if error %}    
                <div class="alert alert-danger mt-3">
                    {{error}}
                </div>
                {% endif %}
                <p class="card-text">
                    <form method="post">
                            {% csrf_token %}
                            {{form.as_p}}
                            <button type="submit" class="btn btn-primary">Add Review</button>
                    </form>
                </p>

            </div>
          
        </div>
    </div>
</div>

{% endblock content %}